[Unit]
Description=OpenNMS server

Requires=postgresql.service


[Service]
User=root

Type=forking
PIDFile=/opt/opennms/logs/opennms.pid

ExecStart=/opt/opennms/bin/opennms -Q start
ExecStop=/opt/opennms/bin/opennms stop


[Install]
WantedBy=multi-user.target
