[Unit]
Description=OpenNMS server
After=postgresql.target

[Service]
Type=forking
User=root
PIDFile=${install.daemonlogs.dir}/opennms.pid
ExecStart=/usr/share/opennms/bin/opennms -Q start
ExecStop=/usr/share/opennms/bin/opennms stop

[Install]
WantedBy=multi-user.target
